$bp-xs: 360px;      // very small phones
$bp-sm: 576px;      // small phones
$bp-md: 768px;      // tablets
$bp-lg: 1024px;     // landscape tablets/small laptops
$bp-xl: 1280px;     // standard laptops
$bp-2xl: 1440px;    // design breakpoint
$bp-3xl: 1600px;    // big screens
$pb-4xl: 1920px;    // fhd+