@use '../styles/fonts' as *;
@use '../styles/mixins' as *;

section{
    @include dFlex(center, center, 48px);
    flex-direction: column;
    width: 100dvw;
    padding: 100px 98px;
    background-color: #1c1c1c;
    h1{
        font-family: Fira Code;
        font-weight: 700;
        font-size: 32px;
        color: #3DCFB6;
    }
}

.navigation{
    @include dFlex(center, space-between, 20px);
    img{
        width: 40px;
        height: 40px;
    }
}