@use '../styles/fonts' as *;
@use '../styles/mixins' as *;

section{
    @include dFlex(center, center, 48px);
    flex-direction: column;
    width: 100dvw;
    padding: 100px 98px;
    background-color: #1c1c1c;
    h1{
        font-family: Fira Code;
        font-weight: 700;
        font-size: 32px;
        color: #3DCFB6;
    }
}

.container-slider{
    @include dFlex(center, space-between, 64px);
    position: relative;
    img{
        position: absolute;
        top: -3%;
        left: 32.3%;
        width: 89px;
        height: 64px;
        z-index: 1;
    }
    .card{
        @include dFlex(center, space-between);
        flex-direction: column;
        width: 632px;
        height: 274px;
        background-color: rgba($color: #3DCFB6, $alpha: 0.1);
        border: 1px solid #3DCFB6;
        border-radius: 32px;
        padding: 48px 40px;
        color: white;
        font-family: Karla;
        font-size: 20px;
        transform: scale(0.9);
    }
    .active{
        background-color: rgba($color: #3DCFB6, $alpha: 0.3);
        transform: scale(1);
    }
    div{
        @include dFlex(center, space-between, 16px);
        width: 100%;
        font-size: 18px;
        hr{
            border: none;
            border-bottom: 1px solid white;
            height: 1px;
            flex-grow: 1;
        }
    }
}

.navigation{
    @include dFlex(center, space-between, 20px);
    img{
        width: 40px;
        height: 40px;
        &:hover{
            cursor: pointer;
        }
    }
    div{
        @include dFlex(center, space-between, 20px);
        color: white;
        span{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: white;
        }
        .active-dot{
            background-color: #3DCFB6;
        }
    }
}