<section>
    <div #textblock class="container-left">
        <div>
            <h3 #h3 class="reveal">{{db.data.contactData.title}}</h3>
            <h1 #h1 class="reveal">{{db.data.contactData.headline}}</h1>
        </div>
        <div>
            <h2 #h2 class="reveal">{{db.data.contactData.subheadline}}</h2>
            <p #upperIntroduction>{{db.data.contactData.introduction}}</p>
            <p #lowerIntroduction>{{db.data.contactData.textBefore}}<a [href]="db.data.contactData.textHref"><span>{{db.data.contactData.textHighlighted}}</span></a></p>
        </div>
    </div>
    <form
        #contact
        [formGroup]="contactForm"
        novalidate
        (ngSubmit)="onSubmit()"
    >
        <div
        class="overlay-success"
        [class.show]="overlayVisible">
            <p>{{db.data.contactData.messageSent}}</p>
        </div>
        <div class="form-top">
            @for(input of db.data.contactData.form; track input){
                <div class="row" style="position: relative;">
                    <label [for]="input.id">{{input.text}}</label>
                    @if(contactForm.get(input.id); as control){
                        <input 
                        [type]="input.type"
                        [id]="input.id"
                        [formControlName]="input.id"
                        autocomplete="off"
                        [placeholder]="
                            control.hasError('required') &&
                            (control.touched || formSubmitted)
                            ? input.placeholderError
                            : input.placeholder"
                        [class.error_placeholder]="
                            control.hasError('required') &&
                            (control.touched || formSubmitted)"
                        (blur)="control.markAsTouched()"
                        >
                        @if(control.invalid && control.touched){
                            <div class="error">
                                @if(control.hasError('pattern')){
                                    <p>{{db.data.contactData.emailError}}</p>
                                }
                                @if(control.hasError('minlength') || control.hasError('onlywhitespace')){
                                    <p>{{db.data.contactData.lengthError}}</p>
                                }
                            </div>
                        }
                    }
                </div>
            }
        </div>
        <div class="form-bottom">
            <div class="privacy-policy">
                <div>
                    <input
                    type="checkbox"
                    id="privacy-policy"
                    formControlName="privacyPolicy">
                    <label for="privacy-policy"></label>
                    <p>{{db.data.contactData.policyBefore}}<a href="privacy-policy"><span>{{db.data.contactData.policyHighlighted}}</span></a>{{db.data.contactData.policyAfter}}</p>
                </div>
                <p id="error" [class.visible]="contactForm.get('privacyPolicy')?.invalid && formSubmitted">{{db.data.contactData.policyError}}</p>
            </div>
            <button type="submit" [class.active]="contactForm.valid"><span>{{db.data.contactData.button}}</span></button>
        </div>
    </form>
</section>
