<section>
    <div class="container-left">
        <div>
            <h3>{{db.data.contactData.title}}</h3>
            <h1>{{db.data.contactData.headline}}</h1>
        </div>
        <div>
            <h2>{{db.data.contactData.subheadline}}</h2>
            <p>{{db.data.contactData.introduction}}</p>
            <p>{{db.data.contactData.paragraph1}}<span>{{db.data.contactData.paragraph2}}</span></p>
        </div>
    </div>
    <form action="#">
        <div class="form-top">
            @for(input of db.data.contactData.form; track input){
                <div>
                    <label for="{{input.id}}">{{input.text}}</label>
                    <input 
                    [attr.type]="input.id === 'email' ? 'email' : 'text'"
                    id="{{input.id}}"
                    placeholder="{{input.placeholder}}"
                    autocomplete="on">
                </div>
            }
        </div>
        <div class="form-bottom">
            <div>
                <img src="../../assets/img/checkbox.png" alt="checkbox">
                <a href="privacy-policy"><p>{{db.data.contactData.privacyPolicy1}}<span>{{db.data.contactData.privacyPolicy2}}</span>{{db.data.contactData.privacyPolicy3}}</p></a>
                <p id="error">{{db.data.contactData.error}}</p>
            </div>
            <button type="submit"><span>{{db.data.contactData.button}}</span></button>
        </div>
    </form>
</section>
