<section>
    <div class="container-left">
        <div>
            <h3>{{db.data.contactData.title}}</h3>
            <h1>{{db.data.contactData.headline}}</h1>
        </div>
        <div>
            <h2>{{db.data.contactData.subheadline}}</h2>
            <p>{{db.data.contactData.introduction}}</p>
            <p>{{db.data.contactData.textBefore}}<a href="{{db.data.contactData.textHref}}"><span>{{db.data.contactData.textHighlighted}}</span></a></p>
        </div>
    </div>
    <form [formGroup]="contactForm" novalidate (ngSubmit)="onSubmit()">
        <div
        class="overlay-success"
        [class.show]="overlayVisible">
            <p>{{db.data.contactData.messageSent}}</p>
        </div>
        <div class="form-top">
            @for(input of db.data.contactData.form; track input){
                <div class="row" style="position: relative;">
                    <label [for]="input.id">{{input.text}}</label>
                    <input 
                    [type]="input.type"
                    [id]="input.id"
                    [formControlName]="input.id"
                    autocomplete="on"
                    [placeholder]="
                        contactForm.get(input.id)?.hasError('required') &&
                        (contactForm.get(input.id)?.touched || formSubmitted)
                        ? input.placeholderError
                        : input.placeholder"
                    [class.error_placeholder]="
                        contactForm.get(input.id)?.hasError('required') &&
                        (contactForm.get(input.id)?.touched || formSubmitted)"
                    (blur)="contactForm.get(input.id)?.markAsTouched()"
                    >
                    @if(contactForm.get(input.id)?.invalid && contactForm.get(input.id)?.touched){
                        <div class="error">
                            @if(contactForm.get(input.id)?.hasError('pattern')){
                                <p>{{db.data.contactData.emailError}}</p>
                            }
                            @if(contactForm.get(input.id)?.hasError('minlength')){
                                <p>{{db.data.contactData.lengthError}}</p>
                            }
                        </div>
                    }
                </div>
            }
        </div>
        <div class="form-bottom">
            <div class="privacy-policy">
                <div>
                    <input
                    type="checkbox"
                    id="privacy-policy"
                    formControlName="privacyPolicy">
                    <label for="privacy-policy"></label>
                    <p>{{db.data.contactData.policyBefore}}<a href="privacy-policy"><span>{{db.data.contactData.policyHighlighted}}</span></a>{{db.data.contactData.policyAfter}}</p>
                </div>
                <p id="error" [class.visible]="contactForm.get('privacyPolicy')?.invalid && formSubmitted">{{db.data.contactData.policyError}}</p>
            </div>
            <button type="submit" [class.active]="contactForm.valid"><span>{{db.data.contactData.button}}</span></button>
        </div>
    </form>
</section>
