@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.switch {
  @include dFlex(center, center);
  position: relative;
  width: 88px;
  height: 28px;
  border: 1px solid #3dcfb6;
  border-radius: 100px;
  transition: border 0.5s ease;

  &:hover {
    border: 1px solid white;
  }
}

.switch__button {
  @include dFlex(center, center);
  position: absolute;
  border: unset;
  border-radius: 100px;
  height: 28px;
  width: 44px;
  font-size: 15px;

  &:hover {
    cursor: pointer;
  }

  &--left {
    left: -1px;
  }

  &--right {
    right: -1px;
  }
}

.switch__button-active {
  border: 1px solid #3dcfb6;
  background: #3dcfb6;
  color: white;
}

.switch__button-passive {
  border: none;
  background: unset;
  color: #3dcfb6;
  opacity: 0.5;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 1;
  }
}
