<section>
    <div class="side-content left">
        <button><img src="../../assets/svg/arrow-down-svgrepo-com.svg" alt="arrow-down"></button>
        <hr>
    </div>
    <div class="main-content">
        <h2>Frontend Developer</h2>
        <h1>Dominik Tröndle</h1>
        <div>
            <button>
                <span>Check my work</span>
            </button>
            <button>
                <span>Contact me</span>
            </button>
        </div>
    </div>
    <div class="side-content right">
        <a href="mailto:domi.troendle@gmail.com">domi.troendle&#64;gmail.com</a>
        <a href="" class="external-logo-sm"><img src="../../assets/img/github-logo.png" alt="github-logo"></a>
        <a href="" class="external-logo-sm"><img src="../../assets/img/linkedin-logo.png" alt="linkedin-logo"></a>
        <hr>
    </div>
    <div class="ribbon">
        <div class="track-wrapper">
            <div class="track">
                <span>Available for remote work</span>
                <span>Frontend Developer</span>
                <span>Based in Munich</span>
                <span>Open to work</span>
            </div>
            <div class="track">
                <span>Available for remote work</span>
                <span>Frontend Developer</span>
                <span>Based in Munich</span>
                <span>Open to work</span>
            </div>
            <div class="track">
                <span>Available for remote work</span>
                <span>Frontend Developer</span>
                <span>Based in Munich</span>
                <span>Open to work</span>
            </div>
        </div>
    </div>
</section>