@use '../../styles/mixins' as *;

section{
    @include dFlex(center, space-between);
    height: 100dvh;
    width: 100dvw;
    background: linear-gradient(225deg,rgba(8, 70, 59, 1) 0%, rgba(28, 28, 28, 1) 70%);
    overflow: hidden;
    h1,h2{
        color: white;
    }
    h1{
        margin-bottom: 28px;
        font-family: Karla;
        font-weight: 700;
        font-size: 128px;
        letter-spacing: -2px;
    }
    h2{
        font-family: Fira Code;
        font-weight: 400;
        font-size: 40px;
    }
}

.main-content{
    @include dFlex(center, center, 12px);
    flex-direction: column;
    div{
      @include dFlex(center, center, 48px);
      height: 48px;
    }
    button{
        height: 100%;
        padding: 0 24px;
        border: 1px solid white;
        border-radius: 100px;
        background: unset;
        font-family: Karla;
        font-size: 18px;
        overflow: hidden;
        span{
            display: inline-block;
            color: white;
            &:hover{
              cursor: pointer;
            }
        }
        &:hover{
            cursor: pointer;
            border: 1px solid #3DCFB6;
            span{
                color: #3DCFB6;
                animation: sliding_text 2s infinite linear;
            }
        }
      }
}

@keyframes sliding_text {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-130%);
  }
  50.0001% {
    transform: translateX(130%);
  }
  100% {
    transform: translateX(0);
  }
}

.side-content{
  @include dFlex(center, flex-end);
  flex-direction: column;
  height: 100%;
  width: 32px;
  hr{
    height: 186px;
    border: none;
    border-left: 1px solid white;
  }
}

.left{
  @include dFlex(center, flex-end, 24px);
  margin-left: 98px;
  hr{
    border-left: 1px solid #3DCFB6;
  }
  button{
    @include dFlex(center, center);
    width: 30px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid #3DCFB6;
    background: unset;
    img{
      height: 14px;
      animation: bounce 1.25s linear infinite;
      &:hover{
        cursor: pointer;
      }
    }
    &:hover{
      cursor: pointer;
    }
  }
}

@keyframes bounce {
  0%{
    transform: translateY(-5px);
  }
  50%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(-5px);
  }
}

.right{
  @include dFlex(center, flex-end, 24px);
  margin-right: 98px;
  a:nth-child(1){
    writing-mode: sideways-lr;
    font-family: Karla;
    font-weight: 400;
    font-size: 18px;
    color: white;
    &:hover{
      color: #3DCFB6;
    }
  }
  img, a:nth-child(2), a:nth-child(3){
    width: 32px;
    height: 32px;
  }
  img:hover{
    filter: brightness(0) invert(1);
    cursor: pointer;
  }
  .external-logo-sm{
    position: relative;
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 35px;
      width: 6px;
      border-bottom: 6px solid #3DCFB6;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.125s ease;
    }
    &:hover::after{
      opacity: 1;
    }
  }
}

.ribbon{
  @include dFlex(center, center);
  position: absolute;
  bottom: 6%;
  left: -1%;
  width: 102%;
  height: 62px;
  background-color: rgba($color: #ffffff, $alpha: 0.12);
  transform: rotate(-3deg);
  backdrop-filter: blur(3px);
  overflow: hidden;
  .track-wrapper{
    @include dFlex(center, center);
    position: absolute;
    left: 0;
    animation: sliding_ribbon 10s infinite linear;
  }
  .track{
    @include dFlex(center, center, 56px);
    color: #3DCFB6;
    font-family: Karla;
    font-size: 32px;
    white-space: nowrap;
    margin-right: 56px;
  }
  span::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #3DCFB6;
    border-radius: 50%;
    margin-left: 56px;
    vertical-align: middle;
  }
}

@keyframes sliding_ribbon {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-33.333%);
  }
}