@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as bp;

section{
  @include dFlex(center, space-between);
  position: relative;
  height: 100dvh;
  width: 100vw;
  background: linear-gradient(225deg,rgba(8, 70, 59, 1) 0%, rgba(28, 28, 28, 1) 70%);
  overflow: hidden;
  h1,h2{
      color: white;
  }
  h1{
      margin-bottom: 28px;
      font-family: Karla;
      font-weight: 700;
      font-size: 58px;
      letter-spacing: -2px;
      text-align: center;
  }
  h2{
      font-family: Fira Code;
      font-weight: 400;
      font-size: 20px;
  }
}

.main-content{
  @include dFlex(center, center, 12px);
  flex-direction: column;
  div{
    @include dFlex(center, center, 24px);
    flex-direction: column;
    height: 120px;
  }
}

.btn-wrapper{
  height: 100%;
}

.btn{
  height: 100%;
  padding: 0 24px;
  border: 1px solid white;
  border-radius: 100px;
  background: unset;
  font-family: Karla;
  font-size: 18px;
  overflow: hidden;
  span{
    display: inline-block;
    color: white;
    &:hover{
      cursor: pointer;
    }
  }
  &:hover{
    cursor: pointer;
    border: 1px solid #3DCFB6;
    span{
        color: #3DCFB6;
        animation: sliding_text 2s infinite linear;
    }
  }
}

@keyframes sliding_text {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-130%);
  }
  50.0001% {
    transform: translateX(130%);
  }
  100% {
    transform: translateX(0);
  }
}

.side-content{
  @include dFlex(center, flex-end);
  flex-direction: column;
  height: 100%;
  width: 32px;
  hr{
    border: none;
    border-left: 1px solid white;
  }
}

.left{
  @include dFlex(center, flex-end, 24px);
  margin-left: 12px;
  hr{
    height: 240px;
    border-left: 1px solid #3DCFB6;
  }
  button{
    @include dFlex(center, center);
    width: 30px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid #3DCFB6;
    background: unset;
    img{
      height: 14px;
      animation: bounce 1.25s linear infinite;
      &:hover{
        cursor: pointer;
      }
    }
    &:hover{
      cursor: pointer;
    }
  }
}

@keyframes bounce {
  0%{
    transform: translateY(-5px);
  }
  50%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(-5px);
  }
}

.right{
  @include dFlex(center, flex-end, 12px);
  margin-right: 12px;
  hr{
    height: 150px;
  }
  a:nth-child(1){
    writing-mode: sideways-lr;
    font-family: Karla;
    font-weight: 400;
    font-size: 18px;
    color: white;
    &:hover{
      color: #3DCFB6;
    }
  }
  img, a:nth-child(2), a:nth-child(3){
    width: 32px;
    height: 32px;
  }
  img:hover{
    filter: brightness(0) invert(1);
    cursor: pointer;
  }
  .external-logo-sm{
    position: relative;
    &::after{
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 35px;
      width: 6px;
      border-bottom: 6px solid #3DCFB6;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.125s ease;
    }
    &:hover::after{
      opacity: 1;
    }
  }
  .email-text{
    display: none;
  }
}

.ribbon-mask{
    width: 100vw;
    height: 200px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    mask-image: linear-gradient(
            to right,
            transparent 0%,
            black 4%,
            black 96%,
            transparent 100%
        );
}

.ribbon{
  @include dFlex(center, center);
  position: absolute;
  bottom: 30%;
  left: -1%;
  width: 102%;
  height: 62px;
  background-color: rgba($color: #ffffff, $alpha: 0.12);
  transform: rotate(-3deg);
  backdrop-filter: blur(3px);
  .track-wrapper{
    @include dFlex(center, center);
    position: absolute;
    left: 0;
    animation: sliding_ribbon 10s infinite linear;
  }
  .track{
    @include dFlex(center, center, 56px);
    color: #3DCFB6;
    font-family: Karla;
    font-size: 32px;
    white-space: nowrap;
    margin-right: 56px;
  }
  span::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #3DCFB6;
    border-radius: 50%;
    margin-left: 56px;
    vertical-align: middle;
  }
}

@keyframes sliding_ribbon {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-33.333%);
  }
}

@media(min-width: bp.$bp-xxs) {
  section{
    h1{
      font-size: clamp(62px, calc(128 / 1440 * 100vw), 128px);
    }
    h2{
      font-size: clamp(22px, calc(40 / 1440 * 100vw), 40px);
    }
  }
  .left{
    margin-left: 18px;
  }

  .right{
    margin-right: 18px;
  }
}

@media(min-width: bp.$bp-sm) {
  .main-content{
    div{
      flex-direction: row;
      gap: 48px;
      height: 48px;
    }
  }

  .left{
    margin-left: 28px;
  }

  .right{
    margin-right: 28px;
    hr{
      height: 186px;
    }
  }
}

@media (min-width: bp.$bp-md) {
  .left{
    margin-left: 60px;
  }

  .right{
    margin-right: 60px;
  }
  .ribbon-mask{
    mask-image: linear-gradient(
            to right,
            transparent 0%,
            black 8%,
            black 94%,
            transparent 100%
        );
  }
}

@media (min-width: bp.$bp-lg) {
  .left{
    margin-left: 98px;
  }

  .right{
    margin-right: 98px;
    gap: 24px;
  }
}

@media (min-width: bp.$bp-xl) {
  .right{
    .email-text{
      display: block;
    }
    .email-logo{
      display: none;
    }
  }
}

@media(min-width: bp.$bp-4xl) {
    section{
        padding-left: calc((100vw - bp.$bp-4xl) / 2);
        padding-right: calc((100vw - bp.$bp-4xl) / 2);
    }
    .ribbon-mask{
      width: 1920px;
    }
}