@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles/breakpoints" as bp;

.atf {
  @include dFlex(center, space-between);
  position: relative;
  height: 100dvh;
  width: 100vw;
  background: linear-gradient(
    225deg,
    rgba(8, 70, 59, 1) 0%,
    rgba(28, 28, 28, 1) 70%
  );
  overflow: hidden;
}

.atf__content-main {
  @include dFlex(center, center, 12px);
  flex-direction: column;
}

.atf__headline {
  margin-bottom: 28px;
  font-family: Karla;
  font-weight: 700;
  font-size: 58px;
  letter-spacing: -2px;
  text-align: center;
  color: white;
}

.atf__subheadline {
  font-family: Fira Code;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.atf__nav {
  @include dFlex(center, center, 24px);
  flex-direction: column;
  height: 120px;
}

.atf__content-side {
  @include dFlex(center, flex-end);
  flex-direction: column;
  height: 100%;
  width: 32px;
}

.atf__line {
  width: 1px;

  &--left {
    height: 240px;
    background-color: #3dcfb6;
  }

  &--right {
    height: 150px;
    background-color: white;
  }
}

.atf__content-left {
  @include dFlex(center, flex-end, 24px);
  margin-left: 12px;
}

.atf__scroll-button {
  @include dFlex(center, center);
  width: 30px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid #3dcfb6;
  background: unset;

  &--image {
    height: 14px;
    animation: bounce 1.25s linear infinite;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    cursor: pointer;
    border: 1px solid white;

    .atf__scroll-button--image {
      filter: brightness(0) saturate(100%) invert(75%) sepia(22%)
        saturate(1155%) hue-rotate(117deg) brightness(92%) contrast(86%);
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.atf__content-right {
  @include dFlex(center, flex-end, 12px);
  margin-right: 12px;
}

.atf__link {
  position: relative;
  width: 32px;
  height: 32px;

  &:not(:first-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 35px;
    width: 6px;
    border-bottom: 6px solid #3dcfb6;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.125s ease;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &--text {
    display: none;
    align-items: center;
    writing-mode: sideways-lr;
    font-family: Karla;
    font-weight: 400;
    font-size: 18px;
    color: white;

    &:hover {
      color: #3dcfb6;
    }
  }

  &--mobile-logo {
    display: block;
  }

  &--image {
    &:hover {
      filter: brightness(0) invert(1);
      cursor: pointer;
    }
  }
}

.ribbon__mask {
  width: 100vw;
  height: 160px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 4%,
    black 96%,
    transparent 100%
  );
}

.ribbon {
  @include dFlex(center, center);
  position: absolute;
  bottom: 30%;
  left: -1%;
  width: 102%;
  height: 62px;
  background-color: rgba($color: #ffffff, $alpha: 0.12);
  transform: rotate(-3deg);
  backdrop-filter: blur(3px);

  &__track-wrapper {
    @include dFlex(center, center);
    position: absolute;
    left: 0;
    animation: sliding_ribbon 10s infinite linear;
  }

  &__track {
    @include dFlex(center, center, 56px);
    color: #3dcfb6;
    font-family: Karla;
    font-size: 32px;
    white-space: nowrap;
    margin-right: 56px;
  }
}

.ribbon__track--after {
  &::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #3dcfb6;
    border-radius: 50%;
    margin-left: 56px;
    vertical-align: middle;
  }
}

@keyframes sliding_ribbon {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

@media (min-width: bp.$bp-xxs) {
  .atf__headline {
    font-size: clamp(62px, calc(128 / 1440 * 100vw), 128px);
  }

  .atf__subheadline {
    font-size: clamp(22px, calc(40 / 1440 * 100vw), 40px);
  }

  .atf__content-left {
    margin-left: 18px;
  }

  .atf__content-right {
    margin-right: 18px;
  }
}

@media (min-width: bp.$bp-sm) {
  .atf__nav {
    flex-direction: row;
    gap: 48px;
    height: 48px;
  }

  .atf__content-left {
    margin-left: 28px;
  }

  .atf__content-right {
    margin-right: 28px;
  }

  .atf__line--right {
    height: 186px;
  }

  .ribbon__mask {
    height: 200px;
  }
}

@media (min-width: bp.$bp-md) {
  .atf__content-left {
    margin-left: 60px;
  }

  .atf__content-right {
    margin-right: 60px;
  }

  .ribbon__mask {
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 8%,
      black 94%,
      transparent 100%
    );
  }
}

@media (min-width: bp.$bp-lg) {
  .atf__content-left {
    margin-left: 98px;
  }

  .atf__content-right {
    margin-right: 98px;
    gap: 24px;
  }
}

@media (min-width: bp.$bp-xl) {
  .atf__link--mobile-logo {
    display: none;
  }

  .atf__link--text {
    display: flex;
  }
}

@media (min-width: bp.$bp-4xl) {
  .atf {
    padding-left: calc((100vw - bp.$bp-4xl) / 2);
    padding-right: calc((100vw - bp.$bp-4xl) / 2);
  }

  .ribbon__mask {
    width: 1920px;
  }
}
