<section #hero>
    <div #sideLeft class="side-content left">
        <a routerLink="/" fragment="contact"><img src="assets/img/arrow_down.png" alt="arrow-down"></a>
        <div class="atf__line atf__line--left"></div>
    </div>
    <div #main class="main-content">
        <p>{{db.data.atfData.title}}</p>
        <h1>{{db.data.atfData.name}}</h1>
        <nav>
            @for(btn of db.data.atfData.buttons; track btn.text){
                <app-button [text]="btn.text" [fragment]="btn.href" route="/"></app-button>
            }
        </nav>
    </div>
    <div #sideRight class="side-content right">
        <a class="email-text" [href]="'mailto:' + db.data.atfData.email">{{db.data.atfData.email}}</a>
        <a class="email-logo external-logo-sm" [href]="'mailto:' + db.data.atfData.email"><img src="assets/img/email-logo.png" alt="email-logo"></a>
        <a [href]="db.data.atfData.github" class="external-logo-sm" target="_blank" rel="noopener noreferrer"><img src="assets/img/github-logo.png" alt="github-logo"></a>
        <a [href]="db.data.atfData.linkedin" class="external-logo-sm" target="_blank" rel="noopener noreferrer"><img src="assets/img/linkedin-logo.png" alt="linkedin-logo"></a>
        <div class="atf__line atf__line--right"></div>
    </div>
    <div class="ribbon-mask">
        <div #ribbon class="ribbon">
            <div class="track-wrapper">
                @for(_ of [1,2,3]; track $index){
                    <div
                    class="track"
                    [attr.aria-hidden]="$index > 1 ? 'true' : null">
                        @for(text of db.data.atfData.ribbonTracks; track text){
                            <span>{{text}}</span>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>