@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as bp;

section{
    @include dFlex(center, center);
    height: max-content;
    width: 100vw;
    background-color: #1c1c1c;
}

.container-about{
    @include dFlex(center, space-between, 40px);
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 100px 12px;
}

.container-left{
    position: relative;
    width: clamp(296px, calc(296 / 320 * 100vw), 568px);
    height: auto;
    aspect-ratio: 1/1;
    img{
        position: absolute;
        width: 100%;
        border-radius: 30px;
    }
    .hero{
        z-index: 1;
    }
    .hero:hover + .bg{
        opacity: 1;
        visibility: visible;
    }
    .bg{
        visibility: hidden;
        opacity: 0;
        z-index: 0;
        transform: translate(30px, 30px);
        transition: 0.5s ease-out;
    }
}

.container-right{
    @include dFlex(flex-start, space-between, 20px);
    flex-direction: column;
    height: fit-content;
    width: clamp(296px, calc(296 / 320 * 100vw), 568px);
    h2{
        font-family: Karla;
        font-weight: 500;
        font-size: 18px;
        color: #3DCFB6;
    }
}

.container-text{
    @include dFlex(flex-start, space-between, 32px);
    flex-direction: column;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    background-color: rgba(61, 207, 182, 0.1);
    padding: 32px;
    color: white;
    h1{
        font-family: Fira Code;
        font-weight: 700;
        font-size: 56px;
        color: #3DCFB6;
        line-height: 90%;
    }
    #introduction{
        font-family: Karla;
        font-size: 16px;
        color: white;
        text-align: justify;
    }
}

.container-details{
    @include dFlex(flex-start, center, 16px);
    flex-direction: column;
    .row{
        @include dFlex(flex-start, center, 24px);
        p{
            font-family: Karla;
            font-size: 16px;
            color: white;
            opacity: 0.8;
            transition: 0.2s ease-in-out;
            &:hover{
                opacity: 1;
            }
        }
        img{
            width: 32px;
            height: 32px;
        }
    }
}

@media(min-width: bp.$bp-xxs) {
    .container-about{
        padding: 100px 18px;
    }
    .container-left,
    .container-right{
        width: clamp(324px, calc(324 / 360 * 100vw), 568px);
    }
}

@media(min-width: bp.$bp-sm) {
    .container-about{
        padding: 100px 28px;
    }
}

@media(min-width: bp.$bp-md) {
    .container-about{
        padding: 100px 60px;
    }
}

@media (min-width: bp.$bp-lg) {
    section{
        height: 100dvh;
    }
    .container-about{
        flex-direction: row;
        padding: 100px 98px;
    }
    .container-left{
        align-self: flex-start;
        width: clamp(324px, calc(568 / 1440 * 100vw), 568px);
    }
    .container-right{
        align-self: flex-end;
        width: clamp(324px, calc(568 / 1440 * 100vw), 568px);
    }
}

@media(min-width: bp.$bp-xl) {
    .container-right{
        h2{
            font-size: 24px;
        }
    }
    .container-text{
        h1{
            font-size: 64px;
            line-height: normal;
        }
        #introduction{
            font-size: 18px;
        }
    }
    .container-details{
        .row{
            p{
                font-size: 18px;
            }
        }
    }
}