@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as bp;

section{
    @include dFlex(center, center);
    height: max-content;
    width: 100vw;
    background-color: #1c1c1c;
}

.container-about{
    @include dFlex(center, space-between, 40px);
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 100px 12px;
}

.container-left{
    position: relative;
    width: 296px;
    height: auto;
    aspect-ratio: 1/1;
    img{
        position: absolute;
        width: 100%;
        border-radius: 30px;
    }
    .hero{
        z-index: 1;
    }
    .hero:hover + .bg{
        opacity: 1;
        visibility: visible;
    }
    .bg{
        visibility: hidden;
        opacity: 0;
        z-index: 0;
        transform: translate(30px, 30px);
        transition: 0.5s ease-out;
    }
}

.container-right{
    @include dFlex(flex-start, space-between, 20px);
    flex-direction: column;
    height: fit-content;
    width: 296px;
    h2{
        font-family: Karla;
        font-weight: 500;
        font-size: 24px;
        font-size: clamp(18px, calc(24 / 1440 * 100vw), 24px);
        color: #3DCFB6;
    }
}

.container-text{
    @include dFlex(flex-start, space-between, 20px);
    flex-direction: column;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    background-color: rgba(61, 207, 182, 0.1);
    padding: 32px;
    color: white;
    h1{
        font-family: Fira Code;
        font-weight: 700;
        font-size: clamp(56px, calc(64 / 1440 * 100vw), 64px);
        color: #3DCFB6;
    }
    #introduction{
        font-family: Karla;
        font-size: clamp(16px, calc(18 / 1440 * 100vw), 18px);
        color: white;
        text-align: justify;
    }
}

.container-details{
    @include dFlex(flex-start, center, 16px);
    flex-direction: column;
    .row{
        @include dFlex(flex-start, center, 24px);
        p{
            font-family: Karla;
            font-size: clamp(16px, calc(18 / 1440 * 100vw), 18px);
            color: white;
            opacity: 0.8;
            transition: 0.2s ease-in-out;
            &:hover{
                opacity: 1;
            }
        }
        img{
            width: 32px;
            height: 32px;
        }
    }
}

@media(min-width: bp.$bp-xs) {
    .container-about{
        padding: 100px 18px;
    }
    .container-left{
        width: clamp(296px, calc(568 / 1024 * 100vw), 568px);
    }
    .container-right{
        width: clamp(296px, calc(568 / 1024 * 100vw), 568px);
    }
}

@media(min-width: bp.$bp-sm) {
    .container-about{
        padding: 100px 28px;
    }
}

@media(min-width: bp.$bp-md) {
    .container-about{
        padding: 100px 68px;
    }
}

@media (min-width: bp.$bp-lg) {
    section{
        height: 100dvh;
    }
    .container-about{
        flex-direction: row;
    }
    .container-left{
        width: clamp(358px, calc(568 / 1440 * 100vw), 568px);
        align-self: flex-start;
    }
    .container-right{
        width: clamp(358px, calc(568 / 1440 * 100vw), 568px);
        align-self: flex-end;
    }
}

@media(min-width: bp.$bp-2xl) {
    .container-about{
        padding: 100px 98px;
    }
}