<section>
    <div class="container-about">
        <img src="" alt="hero-img">
        <div class="container-right">
            <h2>{{db.data.aboutData.title}}</h2>
            <div class="container-text">
                <h1>{{db.data.aboutData.headline}}</h1>
                <p id="introduction">{{db.data.aboutData.introduction}}</p>
                <div class="container-details">
                    @for(item of db.data.aboutData.details; track item){
                        <div class="row">
                            <img src="../../assets/img/{{item.src}}.png" alt="{{item.src}}">
                            <p>{{item.text}}</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>