@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;

section{
    @include dFlex(center, center);
    height: 100dvh;
    width: 100vw;
    background-color: #1c1c1c;
}

.container-about{
    @include dFlex(center, space-between);
    width: 100%;
    height: 100dvh;
    padding: 100px 98px;
    >img{
        width: 568px;
        height: 568px;
        background-color: white;
        border-radius: 30px;
        align-self: flex-start;
    }
}

.container-right{
    @include dFlex(flex-start, space-between, 20px);
    flex-direction: column;
    height: fit-content;
    align-self: flex-end;
    h2{
        font-family: Karla;
        font-weight: 500;
        font-size: 24px;
        color: #3DCFB6;
    }
}

.container-text{
    @include dFlex(flex-start, space-between, 20px);
    flex-direction: column;
    width: 568px;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    background-color: rgba(61, 207, 182, 0.1);
    padding: 32px;
    color: white;
    h1{
        font-family: Fira Code;
        font-weight: 700;
        font-size: 64px;
        color: #3DCFB6;
    }
    #introduction{
        font-family: Karla;
        font-size: 18px;
        color: white;
        text-align: justify;
    }
}

.container-details{
    @include dFlex(center, center, 16px);
    flex-direction: column;
    .row{
        @include dFlex(center, flex-start, 24px);
        p{
            font-family: Karla;
            font-size: 18px;
            color: white;
            opacity: 0.8;
            transition: 0.2s ease-in-out;
            &:hover{
                opacity: 1;
            }
        }
        img{
            width: 32px;
            height: 32px;
        }
    }
}