@use '../styles/mixins' as *;

section{
    @include dFlex(center, space-between);
    height: 100vh;
    width: 100vw;
    background: linear-gradient(225deg,rgba(8, 70, 59, 1) 0%, rgba(28, 28, 28, 1) 70%);
    h1,h2,span{
        color: white;
    }
    h1{
        margin-bottom: 28px;
        font-family: Karla;
        font-weight: 700;
        font-size: 128px;
        letter-spacing: -2px;
    }
    h2{
        font-family: Fira Code;
        font-weight: 400;
        font-size: 40px;
    }
}

.main-content{
    @include dFlex(center, center, 12px);
    flex-direction: column;
    div{
      @include dFlex(center, center, 48px);
      height: 48px;
    }
    button{
        height: 100%;
        padding: 0 24px;
        border: 1px solid white;
        border-radius: 100px;
        background: unset;
        font-family: Karla;
        font-size: 18px;
        overflow: hidden;
        span{
            display: inline-block;
        }
        &:hover{
            cursor: pointer;
            border: 1px solid #3DCFB6;
            span{
                color: #3DCFB6;
                animation: sliding_text 2s infinite linear;
            }
        }
      }
}

@keyframes sliding_text {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-130%);
  }
  51% {
    transform: translateX(130%);
  }
  100% {
    transform: translateX(0);
  }
}

.side-content{
  @include dFlex(center, flex-end);
  flex-direction: column;
  height: 100%;
  width: 32px;
  hr{
    height: 186px;
    width: 1px;
  }
}

.left{
  @include dFlex(center, flex-end, 24px);
  margin-left: 98px;
  hr{
    color: #3DCFB6;
  }
  button{
    @include dFlex(center, center);
    width: 30px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid #3DCFB6;
    background: unset;
    img{
      height: 14px;
    }
    &:hover{
      cursor: pointer;
    }
  }
}

.right{
  @include dFlex(center, flex-end, 24px);
  margin-right: 98px;
  a:nth-child(1){
    writing-mode: sideways-lr;
    font-family: Karla;
    font-weight: 400;
    font-size: 18px;
    color: white;
  }
  img, a:nth-child(2), a:nth-child(3){
    width: 32px;
    height: 32px;
  }
}