<section>
    <img src="" alt="hero-img">
    <div>
        <p>Who i am</p>
        <div>
            <h1>About me</h1>
            <p>Hey there, im Dominik!</p>
            <div>
                <div class="row">
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="row">
                    <img src="" alt="">
                    <p></p>
                </div>
                <div class="row">
                    <img src="" alt="">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>