@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as bp;

:host{
    display: block;
    position: relative;
    z-index: 1;
    margin-bottom: -98px;
    width: 100dvw;
    height: 98px;
}

header{
    @include dFlex();
    height: 100%;
    color: white;
    padding: 0 60px;
    background: linear-gradient(180deg,rgba(28, 28, 28, 1) 0%, rgba(28, 28, 28, 0) 100%);
    nav{
        @include dFlex(center, space-between, 32px);
        font-family: Fira Code;
        font-size: 20px;
        a{
            position: relative;
            &::after{
                content: "";
                position: absolute;
                top: 30px;
                left: calc(50% - 3px);
                width: 6px;
                border-bottom: 6px solid #3DCFB6;
                border-radius: 50%;
                opacity: 0;
                transition: opacity 0.125s ease;
            }
            &:hover::after{
                opacity: 1;
            }
        }
    }
    .logo{
    display: none;
    }
    .logo-mobile{
        &:hover{
            content: url("../../../assets/img/initials_outline.png");
        }
    }
    .nav-menu-mobile{
        display: block;
        background: unset;
        border: unset;
        background-image: url(../../../assets/img/menu.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 48px;
        height: 48px;
    }
    .nav{
        display: none;
    }
    .nav-mobile{
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        &.show{
            visibility: visible;
        }
    }
}

.language-switch{
    @include dFlex(center, center);
    position: relative;
    width: 88px;
    height: 28px;
    border: 1px solid #3DCFB6;
    border-radius: 100px;
    transition: 0.5s ease;
    &:hover{
        border: 1px solid white;
    }
    button{
        @include dFlex(center, center);
        position: absolute;
        border: unset;
        border-radius: 100px;
        height: 28px;
        width: 44px;
        font-size: 15px;
        &:hover{
            cursor: pointer;
        }
    }
    button:nth-child(1){
        left: -1px;
    }
    button:nth-child(2){
        right: -1px;
    }
}

.btn-language-active{
    border: 1px solid #3DCFB6;
    background: #3DCFB6;
    color: white;
}

.btn-language-passive{
    border: none;
    background: unset;
    color: #3DCFB6;
    opacity: 0.5;
    transition: opacity 0.5s ease;
    &:hover{
        opacity: 1;
    }
}

.nav-menu-mobile{
    display: block;
}

@media(min-width: bp.$bp-md) {

}

@media(min-width: bp.$bp-lg) {
    header{
        padding: 0 98px;
        .logo{
            display: block;
            width: 132px;
            height: 48px;
            &:hover{
                content: url("../../../assets/img/logo_outline.png");
            }
        }
        .logo-mobile{
            display: none;
        }
        .nav-menu-mobile{
            display: none;
        }
        .nav{
            display: flex;
        }
    }
}
