@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;

header{
    @include dFlex();
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 98px;
    color: white;
    nav{
        @include dFlex(center, space-between, 32px);
        margin-left: 98px;
        font-family: Fira Code;
        font-size: 20px;
        a{
            position: relative;
            &::after{
                content: "";
                position: absolute;
                top: 30px;
                left: 50%;
                transform: translateX(-50%);
                width: 6px;
                border-bottom: 6px solid #3DCFB6;
                border-radius: 50%;
                opacity: 0;
                transition: opacity 0.125s ease;
            }
            &:hover::after{
                opacity: 1;
            }
        }
    }
    img{
        margin-right: 98px;
        width: 132px;
        height: 48px;
    }
}

.language-switch{
    @include dFlex();
    position: relative;
    width: 88px;
    height: 28px;
    border: 1px solid #3DCFB6;
    border-radius: 100px;
    &:hover{
        border: 1px solid white;
    }
    button{
        position: absolute;
        border: unset;
        border-radius: 100px;
        height: 28px;
        width: 44px;
        font-size: 16px;
        &:hover{
            cursor: pointer;
        }
    }
    button:nth-child(1){
        left: -1px;
    }
    button:nth-child(2){
        right: -1px;
    }
}

.btn-language-active{
    border: 1px solid #3DCFB6;
    background: #3DCFB6;
    color: white;
}

.btn-language-passive{
    border: none;
    background: unset;
    color: #3DCFB6;
    opacity: 0.5;
    &:hover{
        opacity: 1;
        transition: opacity 0.5s ease;
    }
}
