@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as bp;

:host{
    display: block;
    position: relative;
    z-index: 1;
    margin-bottom: -98px;
    width: 100dvw;
    height: 98px;
}

header{
    @include dFlex();
    height: 100%;
    color: white;
    padding: 0 12px;
    background: linear-gradient(180deg,rgba(28, 28, 28, 1) 0%, rgba(28, 28, 28, 0) 100%);
    nav{
        @include dFlex(center, space-between, 32px);
        font-family: Fira Code;
        font-size: 20px;
        a{
            position: relative;
            &::after{
                content: "";
                position: absolute;
                top: 30px;
                left: calc(50% - 3px);
                width: 6px;
                border-bottom: 6px solid #3DCFB6;
                border-radius: 50%;
                opacity: 0;
                transition: opacity 0.125s ease;
            }
            &:hover::after{
                opacity: 1;
            }
        }
    }
    .logo{
    display: none;
    }
    .logo-mobile{
        &:hover{
            content: url("../../../assets/img/initials_outline.png");
        }
    }
    .nav-menu-mobile{
        display: block;
        background: unset;
        border: unset;
        background-image: url(../../../assets/img/menu.png);
        background-repeat: no-repeat;
        background-position: center right -6px;
        background-size: cover;
        width: 48px;
        height: 48px;
        &:hover{
            filter: brightness(0) saturate(100%) invert(65%) sepia(84%) saturate(317%) hue-rotate(120deg) brightness(92%) contrast(91%);
            transform: scale(1.1);
            cursor: pointer;
        }
    }
    .nav{
        display: none;
    }
    .nav-mobile{
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        &.show{
            visibility: visible;
        }
    }
}

.nav-menu-mobile{
    display: block;
}

@media(min-width: bp.$bp-xxs) {
    header{
        padding: 0 18px;
    }
}

@media(min-width: bp.$bp-sm) {
    header{
        padding: 0 28px;
    }
}

@media(min-width: bp.$bp-md) {
    header{
        padding: 0 60px;
    }
}

@media(min-width: bp.$bp-lg) {
    header{
        padding: 0 98px;
        .logo{
            display: block;
            width: 132px;
            height: 48px;
            &:hover{
                content: url("../../../assets/img/logo_outline.png");
            }
        }
        .logo-mobile{
            display: none;
        }
        .nav-menu-mobile{
            display: none;
        }
        .nav{
            display: flex;
        }
    }
}
