@if(db.loaded){
    <header>
        <nav class="nav">
            <app-language-switch></app-language-switch>
            @for(item of db.data.headerData.items; track item.text){
                <a
                class="nav-linked"
                [href]="item.href">{{item.text}}</a>
            }
        </nav>
        <a class="logo" href="#"></a>
        <a class="logo-mobile" href="#"></a>
        <button
        class="nav-menu-mobile"
        (click)="showMobileMenu()"></button>
        <app-nav-mobile
            class="nav-mobile"
            [class.show]="isVisible"
            (close)="hideMobileMenu()"
        ></app-nav-mobile>
    </header>
}