<section>
    <div class="container-left">
        <div>
            <h3>Contact me</h3>
            <h1>Let's work<br>together</h1>
        </div>
        <div>
            <h2>Got a problem to solve?</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
            <p>Need a Frontend developer? <span>Let's talk!</span></p>
        </div>
    </div>
    <form action="#">
        <div class="form-top">
            <div class="input-tile">
                <label for="name">What's your name?</label>
                <input id="name" type="text" placeholder="Your name goes here">
            </div>
            <div class="input-tile">
                <label for="email">What's your email?</label>
                <input id="email" type="email" placeholder="youremail@email.com">
            </div>
            <div class="input-tile">
                <label for="msg">Ho can I help you?</label>
                <input id="msg" type="text" placeholder="Hello Domink, i'm interested in ...">
            </div>
        </div>
        <div class="form-bottom">
            <div>
                <img src="" alt="checkbox">
                <p>I've read the <span>privacy policy</span> and agree to the processing of my data as outlined.</p>
            </div>
            <button type="submit"><span>Say Hello &#58;&#41;</span></button>
        </div>
    </form>
</section>
