<section>
    <div class="container-left">
        <h3>Contact me</h3>
        <h1>Let's work together</h1>
        <h2>Got a problem to solve?</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
        <p>Need a Frontend developer? <span>Let's talk!</span></p>
    </div>
    <form action="">
        <title></title>
        <input type="text">
        <title></title>
        <input type="text">
        <title></title>
        <input type="text">
        <div>
            <img src="" alt="checkbox">
            <p>I've read the <span>privacy policy</span> and agree to the processing of my data as outlined.</p>
        </div>
        <button><span>Say Hello &#58;&#41;</span></button>
    </form>
</section>
