@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;

section {
    @include dFlex(flex-start, flex-start, 64px);
    height: 100%;
    background: linear-gradient(225deg,rgba(8, 70, 59, 1) 0%, rgba(28, 28, 28, 1) 70%);
    flex-direction: column;
    padding-top: 150px;
    padding-left: 98px;
    padding-right: 98px;
    padding-bottom: 260px;
    font-family: Karla;
    font-size: 16px;
    color: #3dcfb6;
    h1{
        font-family: Fira Code;
        font-weight: 700;
        font-size: 64px;
        align-self: center;
    }
}

.container-content{
    @include dFlex(flex-start, space-between, 24px);
    flex-direction: column;
    padding: 0 120px;
    h2{
        font-weight: 700;
        font-size: 25px;
        color: white;
        margin-bottom: 10px;
    }
    h3{
        font-weight: 700;
        font-size: 19px;
        color: white;
    }
    h4:not(:first-of-type){
        margin-top: 7px;
    }
    ul{
        list-style-position: inside;
        margin: 5px 0;
    }
    a{
        color: #3dcfb6;
    }
    span{
        color: white;
    }
    div:first-of-type{
        ul{
            list-style: none;
        }
        p:first-of-type{
            margin-bottom: 5px;
        }
    }
}