<section>
    <h1>{{db.data.privacyPolicyData.title}}</h1>
    <div class="container-content">
        @for(section of db.data.privacyPolicyData.sections; track section){
            <div>
                @for(block of section.content; track block){
                    @switch(block.type){
                        @case("title"){
                            <h2>{{block.text}}</h2>
                        }
                        @case("headline"){
                            <h3>{{block.text}}</h3>
                        }
                        @case("subheadline"){
                            <h4>{{block.text}}</h4>
                        }
                        @case("paragraph"){
                            <p>{{block.text}}</p>
                        }
                        @case("linkedParagraph"){
                            <p>{{block.text}}<a href="{{block.link}}" target="_blank">{{block.link}}</a></p>
                        }
                        @case("list"){
                            <ul>
                                @for(item of block.items; track item){
                                    <li>{{item}}</li>
                                }
                            </ul>
                        }
                    }
                }
            </div>
        }
    </div>
</section>