<app-overlay
    class="overlay"
    [overlayData]="selectedProject"
    [projectNumber]="'0' + selectedIndex"
    [class.show]="isVisible"
    (close)="closeOverlay()"
    (next)="updateOverlay(selectedIndex)"
></app-overlay>
<section>
    <div class="container-content">
        <h3>{{db.data.projectsData.title}}</h3>
        <h1>{{db.data.projectsData.headline}}</h1>
        <p>{{db.data.projectsData.introduction}}</p>
        <div class="container-projects">
            @for(project of db.data.projectsData.projects; track project; let i = $index){
                <div class="row" (click)="showOverlay(i)">
                    <div>
                        <h2>{{project.title}}</h2>
                        <img class="arrow" src="assets/img/arrow_outward.png" alt="arrow">
                    </div>
                    <ul>
                        @for(tech of db.data.projectsData.projects[i].technologies; track tech){
                            <li>{{tech}}</li>
                        }
                    </ul>
                    <img class="img-preview" [src]="'assets/img/' + project.src" [alt]="project.title + '-preview'">
                    <img class="img-preview-bg" src="assets/img/img-preview-bg.png" alt="preview-img-bg">
                </div>
            }
        </div>
    </div>
</section>