@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

.projects__overlay {
  visibility: hidden;

  &--show {
    visibility: visible;
  }
}

.projects {
  @include dFlex(center, center);
  background-color: #1c1c1c;
  color: white;
  width: 100vw;
  padding: 100px 12px;

  @include respond(2xs) {
    padding: 100px 18px;
  }
  @include respond(sm) {
    padding: 100px 28px;
  }
  @include respond(md) {
    padding: 100px 60px;
  }
  @include respond(lg) {
    display: block;
    padding: 100px 98px;
  }
  @include respond(4xl) {
    padding-left: calc(((100vw - 1921px) / 2) + 98px);
    padding-right: calc(((100vw - 1921px) / 2) + 98px);
  }
}

.projects__container {
  @include dFlex(flex-start, flex-start, 20px);
  flex-direction: column;
  width: clamp(296px, calc(296 / 320 * 100vw), 568px);

  @include respond(lg) {
    width: 828px;
  }
}

.projects__eyebrow {
  font-family: Fira Code;
  font-size: clamp(18px, calc(24 / 1440 * 100vw), 24px);
  font-weight: 700;
  color: #3dcfb6;
}

.projects__title {
  margin-bottom: 21px;
  color: #3dcfb6;
  font-family: Fira Code;
  font-size: clamp(48px, calc(64 / 1440 * 100vw), 64px);
  line-height: 115%;
  font-weight: 700;

  @include respond(lg) {
    line-height: normal;
  }
}

.projects__intro {
  margin-bottom: 21px;
  font-family: Karla;
  font-size: clamp(16px, calc(18 / 1440 * 100vw), 18px);

  @include respond(ld) {
    width: clamp(580px, calc(580 / 1024 * 100vw), 828px);
  }
}

.projects__content {
  width: 100%;

  @include respond(ld) {
    width: clamp(580px, calc(580 / 1024 * 100vw), 828px);
  }
}

.projects__item {
  @include dFlex(flex-start, space-between, 12px);
  flex-direction: column;
  position: relative;
  width: 100%;
  border-top: 1px solid #3dcfb6;
  padding: 32px 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  @include respond(sm) {
    flex-direction: row;
    gap: 0;
  }
  @include respond(lg) {
    padding: 40px 32px;
  }

  * {
    cursor: pointer;
  }

  &:last-child {
    border-bottom: 1px solid #3dcfb6;
  }
}

.projects__item:hover {
  @include respond(lg) {
    background-color: rgba($color: #3dcfb6, $alpha: 0.3);
  }

  .projects__item-arrow,
  .projects__preview  {
    @include respond(lg) {
      visibility: visible;
      opacity: 1;
    }
  }
}

.projects__item-header {
  @include dFlex(center, flex-start, 6px);
  width: max-content;
}

.projects__item-title {
  font-family: Fira Code;
  font-size: 24px;
  font-weight: 700;
}

.projects__item-arrow {
  visibility: hidden;
  width: 25px;
  height: 25px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.projects__tech-list {
  @include dFlex(center, flex-end, 12px);
  list-style: none;
  font-family: Karla;
  font-size: 18px;
}

.projects__tech {
  position: relative;

  &:not(:last-of-type)::after {
    content: "";
    position: absolute;
    border: 1px solid #3dcfb6;
    height: 80%;
    top: 50%;
    transform: translate(5px, -50%);
  }
}

.projects__preview {
  display: none;
  visibility: hidden;
  position: absolute;
  width: 304px;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 16px;
  transition: 0.2s ease-in-out;
  opacity: 0;
  left: 110%;
  top: 50%;
  transform: translateY(-50%);

  @include respond(lg) {
    display: block;
    width: clamp(200px, calc(304 / 1440 * 100vw), 304px);
  }
  @include respond(3xl) {
    left: 120%;
  }

  &--main {
    z-index: 1;
  }

  &--bg {
    transform: translate(10px, calc(-50% + 10px));

    @include respond(xl) {
      transform: translate(15px, calc(-50% + 15px));
    }
  }
}
