@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;
@use '../../styles/breakpoints' as bp;

section{
    background-color: #1c1c1c;
    color: white;
    width: 100vw;
    padding: 100px 98px;
    .container-content{
        @include dFlex(flex-start, flex-start, 20px);
        flex-direction: column;
        width: 880px;
        h1, h3{
            font-weight: 700;
        }
        h3{
            font-family: Fira Code;
            font-size: 24px;
            color: #3DCFB6;
        }
        h1{
            margin-bottom: 21px;
            color: #3DCFB6;
            font-family: Karla;
            font-size: 64px;
        }
        p{
            margin-bottom: 21px;
            font-family: Karla;
            font-size: 18px;
        }
        .container-projects{
            width: 100%;
        }
    }
}

.overlay{
    visibility: hidden;
    &.show{
        visibility: visible;
    }
}

.row{
    @include dFlex(center, space-between);
    position: relative;
    width: 100%;
    border-top: 1px solid #3DCFB6;
    padding: 40px 32px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    *{
        cursor: pointer;
    }
    &:last-child{
        border-bottom: 1px solid #3DCFB6;
    }
    &:hover{
        background-color: rgba($color: #3DCFB6, $alpha: 0.3);
        .arrow{
            visibility: visible;
            opacity: 1;
        }
        .img-preview, .img-preview-bg{
            visibility: visible;
            opacity: 1;
        }
    }
    div{
        @include dFlex(center, flex-start, 6px);
        width: max-content;
        h2{
            font-family: Fira Code;
            font-size: 24px;
            font-weight: 700;
        }
        img{
            visibility: hidden;
            width: 25px;
            height: 25px;
            opacity: 0;
            transition: 0.2s ease-in-out;
        }
    }
    ul{
        @include dFlex(center, flex-end, 12px);
        list-style: none;
        font-family: Karla;
        font-size: 18px;
        li{
            position: relative;
            &:not(:last-of-type){
                &::after{
                    content: "";
                    position: absolute;
                    border: 1px solid #3DCFB6;
                    height: 80%;
                    top: 50%;
                    transform: translate(5px, -50%);
                }
            }
        }
    }
    .img-preview, .img-preview-bg{
        visibility: hidden;
        position: absolute;
        width: 304px;
        height: 171px;
        border-radius: 16px;
        transition: 0.2s ease-in-out;
        opacity: 0;
    }
    .img-preview{
        left: 110%;
        z-index: 1;
    }
    .img-preview-bg{
        left: 110%;
        transform: translate(20px, 20px);
    }
}

@media (min-width: bp.$bp-3xl) {
    .row{
        .img-preview,
        .img-preview-bg{
            left: 120%;
        }
    }
}