@if(db.data.projectsData; as projectsData) {
<section class="projects">
    @if(selectedProject) {
    <app-overlay class="projects__overlay" [overlayData]="selectedProject" [projectNumber]="'0' + selectedIndex"
        [class.projects__overlay--show]="isVisible" (close)="closeOverlay()"
        (next)="updateOverlay(selectedIndex)"></app-overlay>
    }
    <div class="projects__container">
        <p #eyebrow class="projects__eyebrow">{{projectsData.eyebrow}}</p>
        <h2 #title class="projects__title">{{projectsData.title}}</h2>
        <p #intro class="projects__intro">{{projectsData.introduction}}</p>
        <div #projects class="projects__content">
            @for(project of projectsData.projects; track project; let i = $index){
            <div class="projects__item" (click)="showOverlay(i)">
                <div class="projects__item-header">
                    <h3 class="projects__item-title">{{project.title}}</h3>
                    <img class="projects__item-arrow" src="assets/img/arrow_outward.png" alt="arrow">
                </div>
                <ul class="projects__tech-list">
                    @for(tech of projectsData.projects[i].technologies; track tech){
                    <li class="projects__tech">{{tech}}</li>
                    }
                </ul>
                <img class="projects__preview projects__preview--main" [src]="'assets/img/' + project.src"
                    [alt]="project.title + '-preview'">
                <img class="projects__preview projects__preview--bg" src="assets/img/img-preview-bg.png"
                    alt="preview-img-bg">
            </div>
            }
        </div>
    </div>
</section>
}