@use '../styles/mixins' as *;
@use '../styles/fonts' as *;

section{
    @include dFlex(center, center);
    width: 100dvw;
    background-color: #1c1c1c;
}

.container-skills{
    @include dFlex(center, space-between);
    width: 100%;
    padding: 150px 98px;
    >img{
        width: 568px;
        height: 568px;
        background-color: white;
        border-radius: 30px;
        align-self: flex-start;
    }
}

.container-left{
    @include dFlex(flex-start, space-between, 20px);
    flex-direction: column;
    height: fit-content;
    h3{
        font-family: Karla;
        font-weight: 500;
        font-size: 24px;
        color: #3DCFB6;
    }
}

.container-content{
    @include dFlex(flex-start, space-between, 40px);
    flex-direction: column;
    width: 568px;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    background-color: rgba(61, 207, 182, 0.1);
    padding: 32px;
    color: white;
    h1{
        font-family: Fira Code;
        font-weight: 700;
        font-size: 64px;
        color: #3DCFB6;
    }
    button{
        @include dFlex(center, center);
        background: none;
        border: 1px solid white;
        border-radius: 100px;
        padding: 10px 24px;
        font-family: Karla;
        font-size: 16px;
        color: white;
        &:hover{
            cursor: pointer;
        }
    }
}

.container-text{
    @include dFlex(flex-start, center, 16px);
    flex-direction: column;
    #introduction{
        font-family: Karla;
        font-size: 18px;
        color: white;
        text-align: justify;
        margin-bottom: 16px;
    }
    h2{
        font-family: Fira Code;
        font-size: 24px;
        font-weight: 700;
    }
    span{
        color: #3DCFB6;
    }
    p{
        font-family: Karla;
        font-size: 16px;
    }
}

.container-right{
    @include dFlex(space-evenly, space-evenly, 72px);
    flex-wrap: wrap;
    max-width: 700px;
    margin-top: 48px;
    div{
        @include dFlex(center, flex-start, 8px);
        height: 116px;
        width: 108px;
        flex-direction: column;
        color: white;
        font-family: Fira Code;
        font-size: 18px;
        text-align: center;
    }
}