<section>
    <div class="container-skills">
        <div class="container-left">
            <h3>Technologies</h3>
            <div class="container-content">
                <h1>Skill Set</h1>
                <div class="container-text">
                    <p class="introduction">A short introduction of my skills! Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    <h2>You need <span>another skill?</span></h2>
                    <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
                </div>
                <button><span>Let's Talk</span></button>
            </div>
        </div>
        <div class="container-right">
            <div class="item-skill">
                <img src="../../assets/img/html-logo.png" alt="html-logo">
                <span>HTML</span>
            </div>
            <div class="item-skill">
                <img src="../../assets/img/css-logo.png" alt="css-logo">
                <span>CSS</span>
            </div>
            <div class="item-skill">
                <img src="../../assets/img/js-logo.png" alt="js-logo">
                <span>JavaScript</span>
            </div>
            <div class="item-skill">
                <img src="../../assets/img/material-logo.png" alt="material-logo">
                <span>Material<br>Design</span>
            </div>
            <div class="item-skill">
                <img src="../../assets/img/ts-logo.png" alt="ts-logo">
                <span>TypeScript</span>
            </div>
            <div class="item-skill">
                <img src="../../assets/img/angular-logo.png" alt="angular-logo">
                <span>Angular</span>
            </div>
            <div class="item-skill">
                <img src="../../assets/img/firebase-logo.png" alt="firebase-logo">
                <span>Firebase</span>            
            </div>
            <div class="item-skill">
                <img src="../../assets/img/git-logo.png" alt="git-logo">
                <span>Git</span>            
            </div>
            <div class="item-skill">
                <img src="../../assets/img/rest-logo.png" alt="REST-logo">
                <span>REST-API</span>
            </div>
            <div class="item-skill">
                <img src="../../assets/img/scrum-logo.png" alt="scrum-logo">
                <span>Scrum</span>     
            </div>
            <div class="item-skill">
                <div class="growth-overlay">
                    <div class="bubble">
                        <div class="container-overlay-content">
                            <p>I have a special interest in learning</p>
                            <div class="row">
                                <div>
                                    <img src="../../assets/img/react-logo-colored.png" alt="react-logo-colored">
                                    <span>React</span>
                                </div>
                                <div>
                                    <img src="../../assets/img/vue-logo-colored.png" alt="vue-logo-colored">
                                    <span>Vue.js</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pointer"></div>
                </div>
                <img src="../../assets/img/growth-mindset.png" alt="growth-mindset">
                <span class="growth-mindset">Growth<br>Mindset</span>
            </div>
        </div>
    </div>
</section>