<section>
    <div class="container-left">
        <h2>Technologies</h2>
        <div class="container-text">
            <h1>About me</h1>
            <p id="introduction">A short introduction of my skills! Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <h2>You need <span>another skill?</span></h2>
            <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
            <button>Let's talk</button>
        </div>
    </div>
    <div class="container-right">
        <img src="" alt="html-logo">
        <img src="" alt="css-logo">
        <img src="" alt="js-logo">
        <img src="" alt="material-logo">
        <img src="" alt="ts-logo">
        <img src="" alt="angular-logo">
        <img src="" alt="firebase-logo">
        <img src="" alt="git-logo">
        <img src="" alt="REST-logo">
        <img src="" alt="scrum-logo">
        <img src="" alt="growth-mindset">
    </div>
</section>