@use '../app/styles/breakpoints' as bp;

#cursor-effect {
    display: none;
    width: 120px;
    height: 120px;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    background: radial-gradient(
        circle,
        rgba(61,207,182,0.5) 0%,
        rgba(61,207,182,0.3) 30%,
        rgba(61,207,182,0.1) 60%,
        rgba(61,207,182,0) 80%
    );
    border-radius: 50%;
    transform: translate(-50%, -50%);
    filter: blur(10px);
}

@media(min-width: bp.$bp-lg) {
    #cursor-effect{
        display: block;
    }
}