@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.references {
  @include dFlex(center, center, 32px);
  flex-direction: column;
  width: 100vw;
  padding: 0 12px;
  background-color: #1c1c1c;

  @include respond(2xs) {
    padding: 0 18px;
  }
  @include respond(sm) {
    padding: 0 28px;
  }
  @include respond(md) {
    padding: 0 60px;
    gap: 48px;
  }
  @include respond(lg) {
    padding: 100px 98px;
  }
  @include respond(4xl) {
    padding-left: calc((100vw - 1921px) / 2);
    padding-right: calc((100vw - 1921px) / 2);
  }
}

.references__title {
  font-family: Fira Code;
  font-weight: 700;
  font-size: 32px;
  color: #3dcfb6;
  text-align: center;
}

.references__viewport {
  @include dFlex(center, center);
  width: 100vw;
  overflow: hidden;
  position: relative;
  mask-image: none;

  @include respond(sm) {
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 4%,
      black 96%,
      transparent 100%
    );
  }
  @include respond(md) {
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 8%,
      black 92%,
      transparent 100%
    );
  }
  @include respond(4xl) {
    width: 1724px;
  }
}

.references__track {
  @include dFlex(center, space-between);
  --slide-distance: 100%;
  --slide-distance-further: 111.2%;
  position: relative;
  width: max-content;
  height: 330px;
  flex-shrink: 0;

  @include respond(xs) {
    height: 390px;
  }
  @include respond(md) {
    --slide-distance: 102%;
    --slide-distance-further: 113.2%;
    height: 300px;
    gap: 15px;
  }
  @include respond(lg) {
    --slide-distance: 110%;
    --slide-distance-further: 122%;
    gap: 64px;
  }
}

.references__quote-icon {
  position: absolute;
  top: 0;
  left: 40%;
  width: 50px;
  height: auto;
  aspect-ratio: 67/48;
  z-index: 1;

  @include respond(xs) {
    left: 39.7%;
    width: clamp(67px, calc(67 / 390 * 100vw), 73px);
    height: clamp(48px, calc(48 / 390 * 100vw), 52px);
  }
  @include respond(sm) {
    width: 89px;
    height: 64px;
  }
  @include respond(md) {
    left: 38.8%;
  }
  @include respond(lg) {
    left: 39.4%;
  }
}

.references__card {
  @include dFlex(center, space-between);
  flex-direction: column;
  width: clamp(296px, calc(358 / 390 * 100vw), 358px);
  height: 300px;
  background-color: rgba($color: #3dcfb6, $alpha: 0.1);
  border: 1px solid #3dcfb6;
  border-radius: 32px;
  padding: 30px;
  color: white;
  font-family: Karla;
  font-size: 16px;
  scale: 0.9;
  transition: animation 1s ease;

  @include respond(xs) {
    width: clamp(358px, calc(358 / 390 * 100vw), 632px);
    height: 360px;
    padding: 48px 40px 40px 40px;
    font-size: clamp(18px, calc(20 / 1024 * 100vw), 20px);
  }
  @include respond(sm) {
    padding: 68px 40px 40px 40px;
  }
  @include respond(md) {
    width: 632px;
    height: 274px;
    padding: 48px 40px;
    font-size: 20px;
  }

  &--active {
    background-color: rgba($color: #3dcfb6, $alpha: 0.3);
    scale: 1;
  }

  &--slide-right {
    animation: slide-right 0.6s ease;
  }

  &--slide-left {
    animation: slide-left 0.6s ease;
  }

  &--slide-further-right {
    animation: slide-further-right 0.6s ease;
  }

  &--slide-further-left {
    animation: slide-further-left 0.6s ease;
  }

  &--grow {
    animation: grow 0.6s ease;
  }

  &--shrink {
    animation: shrink 0.6s ease;
  }
}

.references__meta {
  @include dFlex(center, space-between, 16px);
  flex-direction: column;
  width: 100%;

  @include respond(sm) {
    flex-direction: row;
  }
}

.references__line {
  border: none;
  border-bottom: 1px solid white;
  height: 1px;
  width: 100%;

  @include respond(sm) {
    flex-grow: 1;
    width: auto;
  }
}

.references__author {
  font-size: 16px;

  @include respond(xs) {
    font-size: clamp(16px, calc(18 / 1024 * 100vw), 18px);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--slide-distance));
  }
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * var(--slide-distance)));
  }
}

@keyframes slide-further-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * var(--slide-distance-further)));
  }
}

@keyframes slide-further-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--slide-distance-further));
  }
}

@keyframes shrink {
  from {
    scale: 1;
    background-color: rgba($color: #3dcfb6, $alpha: 0.3);
  }
  to {
    scale: 0.9;
    background-color: rgba($color: #3dcfb6, $alpha: 0.1);
  }
}

@keyframes grow {
  from {
    scale: 0.9;
    background-color: rgba($color: #3dcfb6, $alpha: 0.1);
  }
  to {
    scale: 1;
    background-color: rgba($color: #3dcfb6, $alpha: 0.3);
  }
}

.references__nav {
  @include dFlex(center, space-between, 20px);
}

.references__nav-button {
  width: 18px;
  height: 18px;
  background: none;
  border: none;
  background-position: center;
  background-size: cover;

  &--left {
    background-image: url(../../../assets/img/arrow-left.png);
  }

  &--right {
    background-image: url(../../../assets/img/arrow-right.png);
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(65%) sepia(84%) saturate(317%)
      hue-rotate(120deg) brightness(92%) contrast(91%);
  }
}

.references__dots {
  @include dFlex(center, space-between, 20px);
  color: white;
}

.references__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;

  &--active {
    background-color: #3dcfb6;
  }
}
