<section>
    <h1>What my colleagues say about me</h1>
    <div class="container-carousel">
        <img src="../../assets/img/quotes.png" alt="quotes">
        <div class="card-wrapper">
            <div class="card"
            [class.slide-right]="direction === 'right'"
            [class.slide-left]="direction === 'left'"
            >
                <p>{{carouselData[2].comment}}</p>
                <div>
                    <hr>
                    <span>{{carouselData[2].name}} &#45; {{carouselData[2].role}}</span>
                </div>
            </div>
        </div>
        @for(item of carouselData; track item; let i = $index){
            <div class="card-wrapper"
            [class.slide-right]="direction === 'right'"
            [class.slide-left]="direction === 'left'"
            >
                <div class="card"
                [class.active]="i === 1"
                [class.shrink]="direction === 'left' && i === 1"
                [class.grow]="direction === 'left' && i === 2"
                >
                    <p>{{getIndex(i).comment}}</p>
                    <div>
                        <hr>
                        <span>{{getIndex(i).name}} &#45; {{getIndex(i).role}}</span>
                    </div>
                </div>
            </div>
        }
        <div class="card-wrapper">
            <div class="card"
            [class.slide-right]="direction === 'right'"
            [class.slide-left]="direction === 'left'"
            >
                <p>{{carouselData[0].comment}}</p>
                <div>
                    <hr>
                    <span>{{carouselData[0].name}} &#45; {{carouselData[0].role}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation">
        <img src="../../assets/img/arrow-left.png" alt="" (click)="previous()">
        <div>
            @for(item of carouselData; track item; let i = $index){
                <span [class.active-dot]="i === currentIndex"></span>
            }
        </div>
        <img src="../../assets/img/arrow-right.png" alt="" (click)="next()">
    </div>
</section>
