@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;

section{
    @include dFlex(center, center, 48px);
    flex-direction: column;
    width: 100vw;
    padding: 100px 98px;
    background-color: #1c1c1c;
    overflow: hidden;
    h1{
        font-family: Fira Code;
        font-weight: 700;
        font-size: 32px;
        color: #3DCFB6;
    }
}

.container-carousel{
    @include dFlex(center, space-between, 64px);
    position: relative;
    img{
        position: absolute;
        top: -3%;
        left: 39.5%;
        width: 89px;
        height: 64px;
        z-index: 1;
    }
    .card{
        @include dFlex(center, space-between);
        flex-direction: column;
        width: 632px;
        height: 274px;
        background-color: rgba($color: #3DCFB6, $alpha: 0.1);
        border: 1px solid #3DCFB6;
        border-radius: 32px;
        padding: 48px 40px;
        color: white;
        font-family: Karla;
        font-size: 20px;
        scale: 0.9;
        transition: animation 1s ease;
    }
    .active{
        background-color: rgba($color: #3DCFB6, $alpha: 0.3);
        scale: 1;
    }
    .slide-right{
        animation: slide-right 0.6s ease;
    }
    .slide-left{
        animation: slide-left 0.6s ease;
    }
    .slide-further-left{
        animation: slide-further-left 0.6s ease;
    }
    .slide-further-right{
        animation: slide-further-right 0.6s ease;
    }
    .shrink{
        animation: shrink 0.6s ease;
    }
    .grow{
        animation: grow 0.6s ease;
    }
    div{
        @include dFlex(center, space-between, 16px);
        width: 100%;
        font-size: 18px;
        hr{
            border: none;
            border-bottom: 1px solid white;
            height: 1px;
            flex-grow: 1;
        }
    }
}

@keyframes slide-right{
    from{
        transform: translateX(0)
    }
    to{
        transform: translateX(110%)
    }
}

@keyframes slide-left{
    from{
        transform: translateX(0)
    }
    to{
        transform: translateX(-110%)
    }
}

@keyframes slide-further-left{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-122%);
    }
}

@keyframes slide-further-right{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(122%);
    }
}

@keyframes shrink{
    from{
        scale: 1;
        background-color: rgba($color: #3DCFB6, $alpha: 0.3);
    }
    to{
        scale: 0.9;
        background-color: rgba($color: #3DCFB6, $alpha: 0.1);
    }
}

@keyframes grow{
    from{
        scale: 0.9;
        background-color: rgba($color: #3DCFB6, $alpha: 0.1);
    }
    to{
        scale: 1;
        background-color: rgba($color: #3DCFB6, $alpha: 0.3);
    }
}

.navigation{
    @include dFlex(center, space-between, 20px);
    img{
        width: 18px;
        height: 18px;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
            filter: brightness(0) saturate(100%) invert(65%) sepia(84%) saturate(317%) hue-rotate(120deg) brightness(92%) contrast(91%);
        }
    }
    div{
        @include dFlex(center, space-between, 20px);
        color: white;
        span{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: white;
        }
        .active-dot{
            background-color: #3DCFB6;
        }
    }
}