<section>
    <h1>What my colleagues say about me</h1>
    <div class="container-carousel">
        <img src="../../assets/img/quotes.png" alt="quotes">
        @for(item of carouselData; track carouselData; let index = $index){
            <div class="card">
                <p>{{carouselData[index].comment}}</p>
                <div>
                    <hr>
                    <span>{{carouselData[index].name}} &#45; {{carouselData[index].role}}</span>
                </div>
            </div>
        }
    </div>
    <div class="navigation">
        <img src="../../assets/img/arrow-left.png" alt="">
        <div>
            <span class="active-dot"></span>
            <span></span>
            <span></span>
        </div>
        <img src="../../assets/img/arrow-right.png" alt="">
    </div>
</section>
