<section>
    <div class="container-skills">
        <div class="container-left">
            <h3>{{db.data.skillsData.title}}</h3>
            <div class="container-content">
                <h1>{{db.data.skillsData.headline}}</h1>
                <div class="container-text">
                    <p class="introduction">{{db.data.skillsData.introduction}}</p>
                    <h2>{{db.data.skillsData.subheadline1}}<span>{{db.data.skillsData.subheadline2}}</span></h2>
                    <p>{{db.data.skillsData.contact}}</p>
                </div>
                <a href="#contact"><button><span>{{db.data.skillsData.contactButton}}</span></button></a>
            </div>
        </div>
        <div class="container-right">
            @for(skill of db.data.skillsData.skills; track skill){
                <div class="item-skill">
                    <img src="../../assets/img/{{skill.src}}-logo.png" alt="{{skill.src}}-logo">
                    <span>{{skill.text}}</span>
                </div>
            }
            <div class="item-skill">
                <div class="growth-overlay">
                    <div class="bubble">
                        <div class="container-overlay-content">
                            <p>I have a special interest in learning</p>
                            <div class="row">
                                <div>
                                    <img src="../../assets/img/react-logo-colored.png" alt="react-logo-colored">
                                    <span>React</span>
                                </div>
                                <div>
                                    <img src="../../assets/img/vue-logo-colored.png" alt="vue-logo-colored">
                                    <span>Vue.js</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pointer"></div>
                </div>
                <img src="../../assets/img/growth-mindset.png" alt="growth-mindset">
                <span class="growth-mindset">Growth<br>Mindset</span>
            </div>
        </div>
    </div>
</section>