@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;
@use '../../styles/breakpoints' as bp;

section{
    @include dFlex(center, center);
    width: 100vw;
    background: radial-gradient(circle,rgba(8, 70, 59, 1) 0%, rgba(28, 28, 28, 1) 30%), #1c1c1c;
    background-repeat: no-repeat, repeat;
    background-position: left calc(-100dvw / 2) bottom;
}

.container-skills{
    @include dFlex(center, space-between, 40px);
    flex-direction: column;
    width: 100%;
    padding: 0 12px;
    >img{
        width: 568px;
        height: 568px;
        background-color: white;
        border-radius: 30px;
        align-self: flex-start;
    }
}

.container-left{
    @include dFlex(flex-start, space-between, 20px);
    flex-direction: column;
    height: fit-content;
    width: 296px;
    h3{
        font-family: Karla;
        font-weight: 500;
        font-size: clamp(18px, calc(24 / 1440 * 100vw), 24px);
        color: #3DCFB6;
    }
}

.container-content{
    @include dFlex(flex-start, space-between, 32px);
    flex-direction: column;
    width: 100%;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    background-color: rgba(61, 207, 182, 0.1);
    padding: 32px;
    color: white;
    h1{
        font-family: Fira Code;
        font-weight: 700;
        font-size: clamp(56px, calc(64 / 1440 * 100vw), 64px);
        color: #3DCFB6;
    }
    button{
        @include dFlex(center, center);
        background: none;
        border: 1px solid white;
        border-radius: 100px;
        padding: 10px 24px;
        font-family: Karla;
        font-size: 16px;
        color: white;
        overflow: hidden;
        span{
            display: inline-block;
            color: white;
            &:hover{
              cursor: pointer;
            }
        }
        &:hover{
            cursor: pointer;
            border: 1px solid #3DCFB6;
            span{
                color: #3DCFB6;
                animation: sliding_text 2s infinite linear;
            }
        }
    }
}

@keyframes sliding_text {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-140%);
  }
  50.0001% {
    transform: translateX(140%);
  }
  100% {
    transform: translateX(0);
  }
}

.container-text{
    @include dFlex(flex-start, center, 16px);
    flex-direction: column;
    .introduction{
        font-family: Karla;
        font-size: clamp(16px, calc(18 / 1440 * 100vw), 18px);
        color: white;
        text-align: justify;
        margin-bottom: clamp(12px, calc(16 / 1440 * 100vw), 16px);
    }
    h2{
        font-family: Fira Code;
        font-size: clamp(20px, calc(24 / 1440 * 100vw), 24px);
        font-weight: 700;
    }
    span{
        color: #3DCFB6;
    }
    p{
        font-family: Karla;
        font-size: clamp(16px, calc(18 / 1440 * 100vw), 18px);
    }
}

.container-right{
    @include dFlex(center, center);
    gap: clamp(23px, calc(72 / 1440 * 100vw), 72px);
    row-gap: clamp(32px, calc(40 / 1440 * 100vw), 40px);
    flex-wrap: wrap;
    width: 296px;
    margin-top: 48px;
    .item-skill{
        @include dFlex(center, flex-start, 8px);
        position: relative;
        height: 116px;
        width: 108px;
        flex-direction: column;
        color: white;
        font-family: Fira Code;
        font-size: clamp(16px, calc(18 / 1440 * 100vw), 18px);
        text-align: center;
        &:hover{
            > img{
                transform: scale(1.1);
            }
            .growth-mindset{
                color: #3DCFB6;
            }
            .growth-overlay{
                display: block;
            }
        }
        img{
            width: 60px;
            height: 60px;
            transition: 0.1s ease-in-out;
        }
    }
}


.growth-overlay{
    display: none;
    position: absolute;
    top: -160%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    .bubble{   
        width: 200px;
        height: max-content;
        background-color: white;
        border-radius: 30px;
        transition: 0.1s ease-in-out;
        z-index: 1;
        filter: drop-shadow(0 6px 6px black);
    }
    .pointer {
        height: 25px;
        width: 25px;
        background: white;
        margin: 0 auto;
        transform: rotate(45deg);
        border-radius: 0 0 5px 0;
        margin-top: -12%;
        position: relative;
        left: 0;
    }
    .container-overlay-content{
        @include dFlex(center, center, 16px);
        flex-direction: column;
        padding: 16px;
        p{
            font-family: Karla;
            font-size: 16px;
            color: #3DCFB6;
        }
        .row{
            @include dFlex(center, space-between, 16px);
            font-family: Karla;
            font-size: 12px;
            font-weight: 700;
            color: #3DCFB6;
            div{
                @include dFlex(center, space-between, 8px);
                flex-direction: column;
                img{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}

@media(min-width: bp.$bp-xxs) {
    .container-skills{
        padding: 0 18px;
    }
    .container-left{
        width: clamp(296px, calc(568 / 1024 * 100vw), 568px);
    }
}

@media(min-width: bp.$bp-sm) {
    .container-skills{
        padding: 0 28px;
    }
}

@media(min-width: bp.$bp-md) {
    .container-skills{
        padding: 0 68px;
    }
}

@media(min-width: bp.$bp-lg) {
    .container-skills{
        flex-direction: row;
    }
    .container-left{
        width: clamp(358px, calc(568 / 1440 * 100vw), 568px);
    }
    .container-right{
        max-width: 648px;
        width: clamp(358px, calc(568 / 1440 * 100vw), 648px);
        justify-content: flex-end;
    }
}

@media(min-width: bp.$bp-2xl) {
    .container-skills{
        padding: 100px 98px;
    }
}