<section class="skills">
    <div class="skills__container">
        <div #left class="skills__details">
            <p class="skills__eyebrow">{{db.data.skillsData.title}}</p>
            <div class="skills__content">
                <h2 class="skills__title">{{db.data.skillsData.headline}}</h2>
                <div class="skills__text">
                    <p class="skills__intro">{{db.data.skillsData.introduction}}</p>
                    <h3 class="skills__subheadline">
                        {{db.data.skillsData.subheadlineBefore}}<span class="skills__subheadline--highlight">{{db.data.skillsData.subheadlineHighlighted}}</span>
                    </h3>
                    <p class="skills__contact">{{db.data.skillsData.contact}}</p>
                </div>
                <app-button [text]="db.data.skillsData.contactButton" fragment="contact" route="/"></app-button>
            </div>
        </div>
        <div #right class="skills__grid">
            @for(skill of db.data.skillsData.skills; track skill; let index = $index){
            <div class="skills__item">
                <img class="skills__icon" [src]="'assets/img/' + skill.src + '-logo.png'"
                    [alt]="skill.src + '-logo'" [style.--i]="index">
                <span class="skills__label">{{skill.text}}</span>
            </div>
            }
            <div class="skills__item" (click)="isMobile && (isVisible = !isVisible)">
                <div class="skills__overlay" [class.skills__overlay--show]="isMobile && isVisible">
                    <p class="skills__interest">{{db.data.skillsData.growthMindset.introduction}}</p>
                    <div class="skills__growth-tech">
                        @for(item of db.data.skillsData.growthSkills; track item){
                        <div class="skills__growth-item">
                            <img class="skills__growth-icon" [src]="'assets/img/' + item.src + '-logo-colored.png'"
                                [alt]="item.src + '-logo-colored'">
                            <span>{{item.text}}</span>
                        </div>
                        }
                    </div>
                </div>
                <img class="skills__icon"
                    [src]="'assets/img/' + db.data.skillsData.growthMindset.src + '-mindset.png'"
                    [alt]="db.data.skillsData.growthMindset.src + '-mindset'"
                    [style.--i]="db.data.skillsData.skills.length">
                <span
                    class="skills__label skills__label--growth">{{db.data.skillsData.growthMindset.firstLine}}<br>{{db.data.skillsData.growthMindset.secondLine}}</span>
            </div>
        </div>
    </div>
</section>