@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;

.legal {
  @include dFlex(flex-start, flex-start, 32px);
  height: 100%;
  background: linear-gradient(
    225deg,
    rgba(8, 70, 59, 1) 0%,
    rgba(28, 28, 28, 1) 70%
  );
  flex-direction: column;
  padding: 120px 12px 278px 12px;
  font-family: Karla;
  font-size: 16px;
  color: #3dcfb6;

  @include respond(2xs) {
    padding: 120px 18px 284px 18px;
  }
  @include respond(sm) {
    padding: 120px 28px 294px 28px;
  }
  @include respond(md) {
    padding: 120px 60px 260px 60px;
  }
  @include respond(lg) {
    gap: 64px;
    padding: 150px 98px 260px 98px;
  }
  @include respond(4xl) {
    padding-left: calc(((100vw - 1921px) / 2) + 98px);
    padding-right: calc(((100vw - 1921px) / 2) + 98px);
  }
}

.legal__arrow {
  width: 20px;
  height: 20px;
  background-image: url(../../../assets/img/arrow-left.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include respond(lg) {
    display: none;
  }
}

.legal__title {
  font-family: Fira Code;
  font-weight: 700;
  font-size: clamp(32px, calc(64 / 1440 * 100vw), 64px);

  @include respond(xl) {
    align-self: center;
  }
}

.legal__content {
  @include dFlex(flex-start, space-between, 24px);
  flex-direction: column;

  @include respond(xl) {
    padding: 0 120px;
  }

  section:last-of-type p + p {
    margin-top: 16px;
  }
}

.legal__headline {
  font-weight: 700;
  font-size: 19px;
  color: white;
}

.legal__list {
  list-style-position: inside;
  list-style-type: none;
}

.legal__link {
  color: #3dcfb6;
}

.legal__highlight {
  color: white;
}

@media screen and (min-height: 1313px) {
  :host {
    display: block;
    position: relative;
    height: 100vh;
  }
}
