@if(db.data.legalNoticeData; as legalData){
<article class="legal">
    <a class="legal__arrow" routerLink="/" fragment="contact" aria-label="Back to contact"></a>
    <h1 class="legal__title">{{legalData.title}}</h1>
    <div class="legal__content">
        @for(section of legalData.sections; track section){
        <section class="legal__section">
            @for(block of section.content; track block){
            @switch(block.type){
            @case("headline"){
            <h2 class="legal__headline">{{block.text}}</h2>
            }
            @case("list"){
            <ul class="legal__list">
                @for(item of block.items; track item){
                <li>{{item}}</li>
                }
            </ul>
            }
            @case("paragraph"){
            <p>
                @for(inline of block.inlines; track inline){
                @switch(inline.type){
                @case("text"){{{inline.value}}}
                @case("span"){<span class="legal__highlight">{{inline.value}}</span>}
                @case("link"){<a class="legal__link" [href]="inline.href" target="_blank">{{inline.value}}</a>}
                }
                }
            </p>
            }
            }
            }
        </section>
        }
    </div>
</article>
}