@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;

section {
    @include dFlex(flex-start, space-between, 64px);
    background: linear-gradient(225deg,rgba(8, 70, 59, 1) 0%, rgba(28, 28, 28, 1) 70%);
    flex-direction: column;
    padding: 150px 98px 100px 98px;
    font-family: Karla;
    font-size: 16px;
    color: #3dcfb6;
    h1{
        font-family: Fira Code;
        font-weight: 700;
        font-size: 64px;
        align-self: center;
    }
}

.container-content{
    @include dFlex(flex-start, space-between, 24px);
    flex-direction: column;
    h3{
        font-weight: 700;
        font-size: 19px;
        color: white;
    }
    ul{
        list-style-position: inside;
    }
    a{
        color: #3dcfb6;
    }
    span{
        color: white;
    }
}

.gap{
    @include dFlex(flex-start, space-between, 16px);
    flex-direction: column;
}