@use '../../styles/mixins' as *;

:host{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 2;
}

.backdrop{
    @include dFlex(center, center);
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.4);
    backdrop-filter: blur(5px);
}

.card{
    @include dFlex();
    width: 1250px;
    padding: 80px;
    border: 1px solid #3DFCB6;
    border-radius: 30px;
    background: linear-gradient(225deg,rgba(8, 70, 59, 1) 0%, rgba(28, 28, 28, 1) 70%);;
}

.left{
    @include dFlex(flex-start, space-between, 40px);
    flex-direction: column;
}

.right{
    @include dFlex(flex-end, space-between);
    flex-direction: column;
}