@use '../../styles/mixins' as *;

:host{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 2;
}

.backdrop{
    @include dFlex(center, center);
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.4);
    backdrop-filter: blur(5px);
}

.card{
    @include dFlex(center, space-between, 40px);
    width: 1250px;
    padding: 80px;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    background: linear-gradient(225deg,rgba(8, 70, 59, 1) 0%, rgba(28, 28, 28, 1) 70%);;
}

.left,
.headline,
.content{
    @include dFlex(flex-start, space-between);
    flex-direction: column;
}

.left{
    gap: 40px;
}

.headline{
    gap: 24px;
    h1{
        font-family: Karla;
        font-weight: 700;
        font-size: 128px;
        color: #3DCFB6
    }
    h2{
        font-family: Fira Code;
        font-weight: 600;
        font-size: 64px;
        color: white;
    }
}

.content{
    gap: 20px;
    h3{
        margin-bottom: 12px;
        font-family: Fira Code;
        font-weight: 700;
        font-size: 24px;
        color: #3DCFB6
    }
    p{
        font-family: Karla;
        font-size: 18px;
        color: white;
    }
}

.right{
    @include dFlex(flex-end, space-between);
    flex-direction: column;
    .preview{
        width: 520px;
        height: 370px;
        border-radius: 30px;
        border: 1px solid white;
    }
}