<div class="backdrop">
    <div class="card">
        <div class="left">
            <div class="headline">
                <h1>01</h1>
                <h2>Join</h2>
            </div>
            <div class="content">
                <h3>What is the project about?</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</p>
                <div class="technologies">
                    <div>
                        <img src="" alt="">
                        <span></span>
                    </div>
                    <div>
                        <img src="" alt="">
                        <span></span>
                    </div>
                    <div>
                        <img src="" alt="">
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button>
                    <span>Github</span>
                    <img src="" alt="arrow-link">
                </button>
                <button>
                    <span>Live Test</span>
                    <img src="" alt="arrow-link">
                </button>
            </div>
        </div>
        <div class="right">
            <img src="" alt="close-cross" (click)="onClose()">
            <img src="" alt="preview-img">
            <div>
                <span>Next project</span>
                <img src="" alt="arrow-next">
            </div>
        </div>
    </div>
</div>
