@use '../../styles/mixins' as *;

:host{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 2;
}

.backdrop{
    @include dFlex(center, center);
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.4);
    backdrop-filter: blur(5px);
}

.card{
    @include dFlex(stretch, space-between, 40px);
    width: 1250px;
    padding: 80px;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    background: linear-gradient(225deg,rgba(8, 70, 59, 1) 0%, rgba(28, 28, 28, 1) 70%);;
}

.left,
.headline,
.content{
    @include dFlex(flex-start, space-between);
    flex-direction: column;
}

.left{
    gap: 40px;
}

.headline{
    gap: 24px;
    h1{
        font-family: Karla;
        font-weight: 700;
        font-size: 128px;
        color: #3DCFB6;
        line-height: 100px;
    }
    h2{
        font-family: Fira Code;
        font-weight: 600;
        font-size: 64px;
        color: white;
        line-height: 90%;
    }
}

.content{
    gap: 20px;
    h3{
        font-family: Fira Code;
        font-weight: 700;
        font-size: 24px;
        color: #3DCFB6;
        line-height: 120%;
    }
    p{
        font-family: Karla;
        font-size: 18px;
        color: white;
        margin-bottom: 12px;
    }
}

.technologies{
    @include dFlex(center, space-between, 16px);
    div{
        @include dFlex(center, space-between, 4px);
        color: white;
        font-family: Karla;
        font-size: 16px;
        line-height: 120%;
    }
    img{
        width: 24px;
        height: 24px;
        filter: brightness(0) saturate(100%) invert(78%) sepia(9%) saturate(2587%) hue-rotate(117deg) brightness(88%) contrast(93%);
    }
}

.buttons{
    @include dFlex(flex-start, center, 32px);
    button{
        @include dFlex(center, space-between, 10px);
        background: unset;
        border: 1px solid white;
        border-radius: 100px;
        padding: 14px 24px;
        span{
            font-family: Karla;
            font-size: 18px;
            color: white;
        }
        img{
            width: 10px;
            height: 10px;
        }
        &:hover{
            cursor: pointer;
            border: 1px solid #3DCFB6;
            span{
                color: #3DCFB6;
            }
            img{
                transform: scale(1.3);
            }
        }
    }
}

.right{
    @include dFlex(flex-end, space-between);
    flex-direction: column;
    align-self: stretch;
    img:first-child{
        width: 18px;
        height: 18px;
        &:hover{
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(68%) sepia(92%) saturate(320%) hue-rotate(114deg) brightness(89%) contrast(86%);
            transform: scale(1.3);
        }
    }
    .preview{
        width: 520px;
        height: 370px;
        border-radius: 30px;
    }
    div{
        @include dFlex();
        gap: 20px;
        font-family: Karla;
        font-size: 18px;
        color: #3DCFB6;
        img{
            width: 18px;
            height: 18px;
        }
        &:hover{
            cursor: pointer;
            color: white;
            img{
                transform: scale(1.3);
            }
        }
    }
}