@use '../../styles/mixins' as *;

:host{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 2;
}

.backdrop{
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.55);
    backdrop-filter: blur(5px);
}

.card-overlay{
    @include dFlex();
    padding: 100px;
}