<div class="backdrop" (click)="closeOverlay()">
    <nav>
        @for(item of db.data.headerData.items; track item.text){
            <a [href]="item.href">{{item.text}}</a>
        }
        <div class="language-switch">
            <button
                [ngClass]="isGerman ? 'btn-language-passive' : 'btn-language-active'"
                (click)="changeLanguage()"
                (click)="$event.stopPropagation()"
                >EN</button>
            <button
                [ngClass]="!isGerman ? 'btn-language-passive' : 'btn-language-active'"
                (click)="changeLanguage()"
                (click)="$event.stopPropagation()"
                >DE</button>
        </div>
    </nav>
</div>