*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

html{
    scrollbar-width: none;
}

body{
    scroll-behavior: smooth;
    cursor: default;
}

a{
    text-decoration: none;
    color: white;
    &:hover{
        cursor: pointer;
    }
}

/* .cdk-overlay-container {
    position: fixed !important;
    top: 0;
    left: 0;
} */