*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    scrollbar-width: none;
}

a{
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }
}