*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
    scrollbar-width: none;
    scroll-behavior: smooth;
    cursor: default;
}

body{
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
    &:hover{
        cursor: pointer;
    }
}

body.no-scroll{
    overflow: hidden;
}