@use '../../styles/mixins' as *;
@use '../../styles/fonts' as *;

:host{
    display: block;
    position: relative;
    z-index: 100;
    margin-top: -210px;
    width: 100dvw;
}

footer{
    @include dFlex(center, space-between);
    padding: 50px 98px;
    font-family: Karla;
    font-size: 16px;
    color: white;
}

.container-left{
    @include dFlex(flex-start, flex-end, 8px);
    flex-direction: column;
    img{
        width: 132px;
        height: 48px;
        margin-bottom: 8px;
        &:hover{
            cursor: pointer;
        }    
    }
}

.copyright{
    font-family: Fira Code;
    font-size: 18px;
    color: #3dcfb6;
}

ul{
    @include dFlex(flex-start, flex-end, 8px);
    flex-direction: column;
    list-style: none;
    li{
        position: relative;
    }
    a{
        &:hover{
            transition: color 0.2s ease;
            color: #3dcfb6;
        }
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -15px;
            width: 6px;
            border-bottom: 6px solid #3DCFB6;
            border-radius: 50%;
            opacity: 0;
            transition: opacity 0.125s ease;
            }
            &:hover::before{
                opacity: 1;
            }
    }
}