@if(db.loaded){
<footer>
    <section class="footer footer__content">
        <section class="container-left">
            <a class="logo" routerLink="/"></a>
            <a class="logo-mobile" routerLink="/"></a>
            <ul>
                <li>{{db.data.footerData.function}}</li>
                <li>{{db.data.footerData.location}}</li>
            </ul>
        </section>
        <span class="copyright desktop">{{db.data.footerData.copyright}}</span>
        <ul>
            @for(link of db.data.footerData.links; track link){
            <li><a [href]="link.href" [target]="link.target">{{link.text}}</a></li>
            }
        </ul>
    </section>
    <span class="copyright mobile">{{db.data.footerData.copyright}}</span>
</footer>
}