@if(db.loaded){
    <footer>
        <div class="footer">
            <div class="container-left">
                <a class="logo" href="#"></a>
                <a class="logo-mobile" href="#"></a>
                <span>{{db.data.footerData.function}}</span>
                <span>{{db.data.footerData.location}}</span>
            </div>
            <span class="copyright desktop">{{db.data.footerData.copyright}}</span>
            <ul>
                @for(link of db.data.footerData.links; track link){
                    <li><a
                        [href]="link.href"
                        [target]="link.target"
                        >{{link.text}}</a></li>
                }
            </ul>
        </div>
        <span class="copyright mobile">{{db.data.footerData.copyright}}</span>
    </footer>
}